@media (max-width: 768px) {
  .signup-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .signup-container {
    height: 100%;
    padding-top: 55px;
    padding: 0 !important;
    border-radius: 20px;
    background-color: white;
  }

  .signup-title {
    padding-top: 35px;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 40px;
    background-color: #bd8ade;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .form-section {
    border-radius: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    padding-bottom: 15px;
    color: #575757;
  }

  .terms-link,
  .login-page-link {
    color: #ad26ff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-decoration: none;
  }

  .man_signup {
    margin-top: 8px;
    margin-bottom: 36px !important;
    background-image: linear-gradient(to right, #dc52ff, #887eff);
    color: white;
    border-radius: 12px;
    height: 42px;
    font-weight: bold;
  }

  .woman_signup {
    margin-top: 8px;
    margin-bottom: 145px !important;
    background-image: linear-gradient(to right, #dc52ff, #887eff);
    color: white;
    border-radius: 12px;
    height: 42px;
    font-weight: bold;
  }

  .left-text {
    text-align: left;
    color: #575757;
    font-family: Noto Sans JP;
  }
  .center-text {
    text-align: center;
  }
  .terms-link {
    text-decoration: none I !important;
    color: #8b7bff;
  }
}

@media (min-width: 769px) {
  .signup-wrapper {
    background-color: #bd8ade;
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .signup-container {
    height: 50%;
    padding-top: 55px;
    padding: 0 !important;
    border-radius: 20px;
    background-color: white;
    padding-top: 55px;
  }

  .signup-title {
    color: #4f4545;
    padding-top: 55px;
    margin-bottom: 15px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 32px;
    font-weight: bold;
  }

  .form-section {
    border-radius: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    padding-bottom: 15px;
    color: #575757;
  }

  .terms-link,
  .login-page-link {
    color: #ad26ff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-decoration: none;
  }

  .man_signup {
    margin-top: 8px;
    margin-bottom: 36px !important;
    background-image: linear-gradient(to right, #dc52ff, #887eff);
    color: white;
    border-radius: 12px;
    height: 42px;
    font-weight: bold;
  }

  .woman_signup {
    margin-top: 8px;
    margin-bottom: 50px !important;
    background-image: linear-gradient(to right, #dc52ff, #887eff);
    color: white;
    border-radius: 12px;
    height: 42px;
    font-weight: bold;
  }

  .left-text {
    text-align: left;
    color: #575757;
    font-family: Noto Sans JP;
  }
  .center-text {
    text-align: center;
  }
  .terms-link {
    text-decoration: none I !important;
    color: #8b7bff;
  }
}
